<div class="container-big-card">
    <div class="big-card-picture">
        <img 
        src="https://media.licdn.com/dms/image/C4E1BAQEr76SyZsyo2w/company-background_10000/0/1553614927942?e=1684515600&v=beta&t=uOXSXUpEkFKoIDNjFTPGWVf0j06Q0Au_ZrYWOBj6kx0" 
        alt="" 
        height="200px"
        srcset="">
    </div>
        <div class="big-card-title">
            <h1><a href="#">Daily Planet</a></h1>
        </div>
        <div class="big-card-description">
            <p><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</a></p>
        </div>
</div>
