<div class="container-big-card">
    <div class="big-card-picture">
        <img 
        src="https://png.pngtree.com/png-vector/20210604/ourmid/pngtree-gray-network-placeholder-png-image_3416659.jpg" 
        alt="" 
        height="200px"
        srcset="">
    </div>
    <div class="big-card-title">
        <h1>Saiu a nova versão do Angular</h1>
    </div>
    <div class="big-card-description">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
    </div>
</div>